body {
  background-color: rgb(168, 213, 255);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  color: rgb(255, 255, 255);
}

p {
  color: antiquewhite;
}

.main-screen {
  background-color: rgb(129, 173, 255);
  margin: 10px;
  border-color: rgb(129, 173, 255);
  border-style: solid;
  border-radius: 5px;
}

nav {
  margin: 5px;
  background-color: rgba(53, 124, 255, 0.9);
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  column-gap: 4px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-color: rgb(53, 124, 255);
  border-style: solid;
  border-radius: 15px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav .nav-link {
  background-color: rgba(53, 124, 255, 0.75);
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

nav .nav-logo {
  background-color: rgba(53, 124, 255, 0.75);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-logo,
nav .nav-link {
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgba(53, 124, 255, 0.75);
}

nav .logo {
  width: 100px;
}

nav .nav-link:hover,
nav .nav-logo:hover {
  background-color: rgb(37, 112, 253);
  color: white;
}

.main-section {
  display: grid;

  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(auto, auto);

  margin: 0px 20px 20px 20px;
  padding-bottom: 20px;
  background-color: rgb(119, 166, 253);
  border-color: rgb(119, 166, 253);
  border-style: solid;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .main-section {
    grid-template-areas:
      "desc desc desc desc desc desc desc desc desc"
      "vid vid vid vid vid vid vid vid vid"
      "scr scr scr scr scr scr scr scr scr";
  }
}

@media only screen and (min-width: 600px) {
  .main-section {
    grid-template-areas:
      "desc desc desc desc desc desc desc desc desc"
      "vid vid vid vid vid vid vid vid vid"
      "scr scr scr scr scr scr scr scr scr";
  }
}

@media only screen and (min-width: 992px) {
  .main-section {
    grid-template-areas:
      "hd hd hd hd hd . . . ."
      "vid vid vid vid vid . desc desc desc"
      "scr scr scr scr scr scr scr scr scr";
  }
}

@media only screen and (min-width: 1200px) {
  .main-section {
    grid-template-areas:
      ". hd hd hd . . . . ."
      ". vid vid vid vid . desc desc desc"
      ". scr scr scr scr scr . . .";
  }
}

.header {
  grid-area: hd;
}

.video {
  grid-area: vid;
}

.screenshots {
  grid-area: scr;
}

.description {
  grid-area: desc;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

video {
  width: 100%;
  height: auto;
}
